.home {
    position: relative;
    background-image: url(./assets/images/newbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700px;
    color: #fff;
    flex-direction: column;
    
}

.profpic {
    border-radius: 50%;
    margin-bottom: 30px;
}

.Aboutme {
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
  }

.pAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    padding: 0.5rem;
    height: inherit;
    width: 80%; 
    font-family: "Merriweather", serif;
    box-shadow: 1px 1px 1rem #393E46;
    
}
.Jexperience {
    position: relative;
    top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.wexperience {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    padding: 2rem;
    height: inherit;
    width: 80%;
    font-family: "Merriweather", serif;
    box-shadow: 1px 1px 1rem #393E46;
}


.cc-contact-information {
    position: fixed;
    top: 180px;
    background-image: url(./assets/cotactmebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    z-index: -1;
}

.row {
    
    display: flex;
    align-items: center;
    justify-content: center;
}



a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px px;
    text-decoration: none;
}
.bottom-container {
    position: relative;
    top: 150px;
    background-color: #5C8984;
    padding: 50px 0 10px;
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    gap: 3rem;
}

body h4 {
    
    color: #4dcaca;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}
.copyright {
    color: white;
}
